main{
  margin: auto;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5em;
  margin-bottom: 3em;
  
div{

  h4{
    align-self: flex-start;
    margin-left: -3em;
    margin-bottom: 1.5em;
    padding-left: 0.7em;
    border-left: 0.08em solid #121212;
  }

  .lista-horario{
    
    margin-top: -1.5em;
    width: 40em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
    span{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      margin-left: 1em;    
    }

    #obs{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-style: italic;
    }
  }

  .itens-lista{
    width: 38em;
    margin-left: -2em;
  }

}
}

.lista{
  margin-left: -10em;
}

h2{
    align-self: flex-start !important;
    margin-left: 2em;
    margin-top: 1em !important;
    margin-bottom: 1.5em !important;
}

main{
  background-color: #ffffff;
}

//---------Responsividade

@media only screen and (max-width: 1150px) {
  #tabela{
    height: 20em;
  }

  h2{
    margin: auto;
  }
 
  div{
   h4{
     
   }
   .lista-horario{
     width: 20em !important;
     li{
       width: 32em;
     }
   }
  }
}

@media only screen and (max-width: 900px) {
  #tabela{
    height: 12em;
  }

}


@media only screen and (max-width: 900px) {
 h2{
   margin: auto;
 }

 div{

  .lista-horario{
    width: 6em !important;
    li{
      width: 19em;
    }
  }
 }
}

