.section-camp{
  background-color: rgba($color: #121212, $alpha: 0.8);
  height: 30em;
}

.sessao-campeas{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // margin-top: 4em;
  // background-color: rgba($color: #121212, $alpha: 0.8);
}

.title-campeas{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  background-color: #121212;
  margin-left: -3em;
  height: 30em;
  width: 37em;
}

.title{
  margin-left: 5em;
  margin-top: -1em !important;
  font-size: 2em;
}

#title-2{
  margin-left: 9.2em;
  margin-top: -2.3em !important;
  font-size: 1.1em;

  &:hover{
    color: #97FB57;
    cursor: pointer;
  }
}

.show-top-3{
  display: flex;
  flex-direction: column;
  // margin-top: 2em;
  margin-left: 16em;
  color: #ffffff;

  h3{
    margin-bottom: 2em;
    border-left: 0.1em solid #ffffff;
    padding-left: 0.7em;
    margin-left: -3em;
  }
}

ul{
  margin-top: 1em;
  margin-left: -3em;
}

li{
  margin-top: 1em;
}

.li-trofeu{
 display: flex;
}

.linha-do-tempo{
  margin-top: 2em;
  margin-bottom: 4em;
  
  h2{
    margin-top: -1em;
    align-self: flex-start;
    margin-bottom: 2em;
    margin-left: 2em;
  }
}

.anos-copa{
  display: flex;
  flex-direction: column;
  width: 75em;
  // margin-top: 3em;
  // margin-left: 3em;
  // margin-right: 3em;

  .linha-1{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
  }

  .linha-2{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5em;
  }

  .linha-3{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5em;
  }

  .linha-4{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5em;
  }

  .linha-5{
    display: flex ;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5em;
    margin-left: 3.4em;
    gap: 3.4em;
  }
}